<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <!-- sbb CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
        <!-- smart editor 2.0 -->
        <!-- <script type="text/javascript" src="/smarteditor2/js/HuskyEZCreator.js" charset="utf-8"></script> -->
        <script type="text/javascript" th:src="@{/smarteditor2/js/HuskyEZCreator.js}" charset="UTF-8"></script>
        <script type="text/javascript" th:src="@{/js/article.js}" charset="UTF-8"></script>
        <title>SpringBoot CRUD Board</title>
    </head>
    <body>
        <!-- 네비게이션바 -->
        <nav th:replace="navbar :: navbarFragment"></nav>
        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        <th:block layout:fragment="content"></th:block>
        <!-- 기본 템플릿 안에 삽입될 내용 End -->
        <!-- Bootstrap JS -->
        <script th:src="@{/bootstrap.min.js}"></script>
    </body>
</html>